<div class="container">
  <% @articles.each do |article| %>
    <div class="article">
      <h3 style:><%= link_to article.title, article_path(article), style: 'text-decoration: none; color: black'%></h3>
      <p><%= article.content.slice!(0..100).strip %>...</p>
    </div>
  <% end %>
</div>
