<div class="container m-4">
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <p><%= link_to 'Edit task', edit_task_path, class: 'btn btn-primary mt-4' %></p>
  <p><%= link_to 'See all tasks', tasks_path, class: 'btn btn-primary mt-2' %></p>
</div>
